# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Hospital Appointment Booking System/*
!/Hospital Appointment Booking System/task/
/Hospital Appointment Booking System/task/*
!/Hospital Appointment Booking System/task/resources
!/Hospital Appointment Booking System/task/src
!/Hospital Appointment Booking System/task/build.gradle
